*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/animeworld/google-services.json
/mangaworld/google-services.json
/novelworld/google-services.json
/animeworldtv/google-services.json
/otakumanager/google-services.json
