<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <permission-group
        android:name="${applicationId}.group.favorites"
        android:description="@string/permission_description"
        android:label="@string/permission_label" />

    <permission
        android:name="${applicationId}.READ_WRITE_FAVORITES"
        android:description="@string/permission_description"
        android:label="@string/permission_label"
        android:permissionGroup="${applicationId}.group.favorites"
        android:protectionLevel="dangerous" />

    <permission-group
        android:name="${applicationId}.group.list"
        android:description="@string/list_permission_description"
        android:permissionGroupFlags="personalInfo"
        android:label="@string/list_permission_label" />

    <permission
        android:name="${applicationId}.READ_WRITE_LISTS"
        android:description="@string/list_permission_description"
        android:label="@string/list_permission_label"
        android:permissionGroup="${applicationId}.group.list"
        android:protectionLevel="dangerous" />

    <application>

        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />

        <receiver
            android:name=".receivers.BootReceived"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.PACKAGE_FIRST_LAUNCH" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.DeleteNotificationReceiver"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receivers.SwipeAwayReceiver"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>