<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <uses-permission android:name="${animeworld_FAVORITES_PERMISSION}" />
    <uses-permission android:name="${novelworld_FAVORITES_PERMISSION}" />
    <uses-permission android:name="${mangaworld_FAVORITES_PERMISSION}" />
    <uses-permission android:name="${mangaworld_LISTS_PERMISSION}" />
    <uses-permission android:name="${animeworld_LISTS_PERMISSION}" />
    <uses-permission android:name="${novelworld_LISTS_PERMISSION}" />

    <queries>
        <package android:name="${animeworldPackage}" />
        <package android:name="${novelworldPackage}" />
        <package android:name="${mangaworldPackage}" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".PlaygroundApp"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.OtakuWorldBase">
        <activity
            android:exported="true"
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".accountmanager.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateVisible" />


        <!--<receiver
            android:name="com.programmersbox.uiviews.checkers.DeleteNotificationReceiver"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:exported="true"
            android:name="com.programmersbox.uiviews.checkers.BootReceived">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.PACKAGE_FIRST_LAUNCH" />
            </intent-filter>
        </receiver>-->

        <service
            android:name=".accountmanager.AuthenticatorService"
            android:exported="true"
            android:enabled="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name=".syncadapters.MangaFavoritesSyncService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter_favorites_manga" />
        </service>

        <service
            android:name=".syncadapters.NovelFavoritesSyncService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter_favorites_novel" />
        </service>

        <service
            android:name=".syncadapters.AnimeFavoritesSyncService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter_favorites_anime" />
        </service>
    </application>

</manifest>