<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.programmersbox.animeworld">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".AnimeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OtakuWorld"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.programmersbox.animeworld.cast.CastOptions" />

        <service android:name=".cast.WebService" />

        <activity android:name=".cast.ExpandedControlsActivity" />

        <activity
            android:name=".VideoPlayerActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <data android:scheme="content" />
                <data android:scheme="file" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity
            android:exported="true"
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="View Anime">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data
                    android:host="gogoanime1.com"
                    android:pathPrefix="/watch" />
                <data
                    android:host="www.gogoanime1.com"
                    android:pathPrefix="/watch" />

                <data
                    android:host="animetoon.org"
                    android:pathPrefix="/" />
                <data
                    android:host="www.animetoon.org"
                    android:pathPrefix="/" />

                <data
                    android:host="yts.mx"
                    android:pathPrefix="/movies" />
                <data
                    android:host="www.yts.mx"
                    android:pathPrefix="/movies" />

                <data
                    android:host="wcostream.com"
                    android:pathPrefix="/anime" />
                <data
                    android:host="www.wcostream.com"
                    android:pathPrefix="/anime" />

            </intent-filter>
        </activity>

        <receiver
            android:name=".CancelReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.programmersbox.animeworld.CANCEL_DOWNLOAD" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".PauseReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.programmersbox.animeworld.PAUSE_DOWNLOAD" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ResumeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.programmersbox.animeworld.RESUME_DOWNLOAD" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".RetryReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.programmersbox.animeworld.RETRY_DOWNLOAD" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>