<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true">

        <receiver
            android:name=".receivers.DeleteNotificationReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receivers.BootReceived"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.PACKAGE_FIRST_LAUNCH" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".CrashActivity"
            android:exported="false"
            android:process=":error_handler" />

    </application>
</manifest>