on:
  workflow_dispatch:

jobs:
  novelworld:
    name: Generate NovelWorld APK
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - run: echo NOVEL_GOOGLE_SERVICES_JSON > novelworld/google-services.json
        env:
          NOVEL_GOOGLE_SERVICES_JSON: ${{ secrets.NOVEL_SERVICES_TWO }}

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: adopt
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          add-job-summary-as-pr-comment: always

      - name: Build NovelWorld artifacts
        id: buildNovelApks
        run: ./gradlew novelworld:assembleRelease

      - uses: kevin-david/zipalign-sign-android-release@v2.0.2
        name: Sign app APK
        id: novel_sign
        with:
          releaseDirectory: novelworld/build/outputs/apk/full/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}

      - uses: kevin-david/zipalign-sign-android-release@v2.0.2
        name: Sign app APK
        id: novel_sign_no_firebase
        with:
          releaseDirectory: novelworld/build/outputs/apk/noFirebase/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}

      - uses: kevin-david/zipalign-sign-android-release@v2.0.2
        name: Sign app APK
        id: novel_sign_no_cloud_firebase
        with:
          releaseDirectory: novelworld/build/outputs/apk/noCloudFirebase/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}

      - name: Clean up NovelWorld artifacts
        run: |
          cp ${{ steps.novel_sign.outputs.signedReleaseFile }} novelworld-release.apk
          cp ${{ steps.novel_sign_no_firebase.outputs.signedReleaseFile }} novelworld-no-firebase-release.apk
          cp ${{ steps.novel_sign_no_cloud_firebase.outputs.signedReleaseFile }} novelworld-no-cloud-firebase-release.apk

      - uses: actions/upload-artifact@v4
        with:
          name: Signed Novel App
          path: novelworld-release.apk

      - uses: actions/upload-artifact@v4
        with:
          name: Signed Novel No Firebase App
          path: novelworld-no-firebase-release.apk

      - uses: actions/upload-artifact@v4
        with:
          name: Signed Novel No Cloud Firebase App
          path: novelworld-no-cloud-firebase-release.apk
